@charset "UTF-8";
@import "/src/assets/css/global.scss";

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenter_c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
